<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Results of anket</title>
</head>
<body>
    <h1>Results</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Time</th>
            <th>Original problem</th>
            <th>Really?</th>
            <th>Mona Lisa</th>
            <th>Rich man</th>
            <th>Four people</th>
            <th>You</th>
            <th>Name</th>
        </tr>
        <% responses.forEach(function(response) { %>
            <tr>
                <td><%= response.id %></td>
                <td><%= new Date(response.timestamp).toLocaleDateString() %></td>
                <td><%= new Date(response.timestamp).toLocaleTimeString() %></td>
                <td><%= response.answers.question1 %></td>
                <td><%= response.answers.question6 %></td>
                <td><%= response.answers.question2 %></td>
                <td><%= response.answers.question3 %></td>
                <td><%= response.answers.question4 %></td>
                <td><%= response.answers.question5 %></td>
                <td><%= response.answers.name %></td>
            </tr>
        <% }); %>
    </table> 
    <a id="button" href="/">Take me back</a>   
    <%- include('footer'); -%>
</body>
</html>
